Repository maariaw/minesweeper-helper: changes, and which Codecov flags are due for each by the changed paths.
All: fullCoverage, helperBot

Fix tests
  src/main/java/minesweeper/bot/CSP.java
  src/test/java/minesweeper/bot/CSPTest.java
Due: fullCoverage, helperBot

Tweak possible moves method and add a package for data structures
  src/main/java/minesweeper/bot/MyBot.java
  src/main/java/minesweeper/structures/SquareSet.java
Due: fullCoverage, helperBot

Replace Square collections with own SquareSet data structure
  src/main/java/minesweeper/bot/CSP.java
  src/main/java/minesweeper/bot/MinesweeperConstraint.java
  src/main/java/minesweeper/bot/MyBot.java
  src/main/java/minesweeper/structures/SquareSet.java
Due: fullCoverage, helperBot

Swap an ArrayList to an array
  src/main/java/minesweeper/bot/CSP.java
  src/main/java/minesweeper/bot/MyBot.java
Due: fullCoverage, helperBot

Create MyList and ConstraintSet structures
  src/main/java/minesweeper/bot/CSP.java
  src/main/java/minesweeper/bot/MinesweeperConstraint.java
  src/main/java/minesweeper/structures/SquareSet.java
Due: fullCoverage, helperBot

Use ConstraintSet and SquareSet
  src/main/java/minesweeper/bot/CSP.java
  src/main/java/minesweeper/bot/MinesweeperConstraint.java
  src/main/java/minesweeper/structures/SquareSet.java
  src/test/java/minesweeper/bot/CSPTest.java
  src/test/java/minesweeper/bot/MinesweeperConstraintTest.java
Due: fullCoverage, helperBot

Replace almost all ArrayList with MyList
  src/main/java/minesweeper/bot/CSP.java
  src/main/java/minesweeper/bot/MinesweeperConstraint.java
  src/test/java/minesweeper/bot/CSPTest.java
  src/test/java/minesweeper/bot/MinesweeperConstraintTest.java
Due: fullCoverage, helperBot

Actually add the new structure classes, including all new SquareMap and MyCouple
  src/main/java/minesweeper/structures/ConstraintSet.java
  src/main/java/minesweeper/structures/MyCouple.java
  src/main/java/minesweeper/structures/MyList.java
  src/main/java/minesweeper/structures/SquareMap.java
Due: fullCoverage

Replace HashMaps with SquareMaps
  src/main/java/minesweeper/bot/CSP.java
  src/main/java/minesweeper/bot/MinesweeperConstraint.java
  src/main/java/minesweeper/bot/MyBot.java
  src/main/java/minesweeper/structures/MyList.java
  src/main/java/minesweeper/structures/SquareMap.java
  src/test/java/minesweeper/bot/CSPTest.java
  src/test/java/minesweeper/bot/MinesweeperConstraintTest.java
Due: fullCoverage, helperBot

Update JavaDoc and remove printings
  src/main/java/minesweeper/bot/CSP.java
  src/main/java/minesweeper/bot/MinesweeperConstraint.java
  src/main/java/minesweeper/bot/MyBot.java
  src/main/java/minesweeper/structures/SquareSet.java
Due: fullCoverage, helperBot

Create week-6-report.md
  documentation/week-6-report.md
Due: none

Update README.md
  README.md
Due: none

Update week-6-report.md
  documentation/week-6-report.md
Due: none

Add testing for own structures
  src/main/java/minesweeper/bot/CSP.java
  src/main/java/minesweeper/structures/SquareSet.java
  src/test/java/minesweeper/bot/MinesweeperConstraintTest.java
  src/test/java/minesweeper/structures/ConstraintSetTest.java
  src/test/java/minesweeper/structures/MyListTest.java
  src/test/java/minesweeper/structures/SquareSetTest.java
Due: fullCoverage, helperBot

Add more tests to own structures
  src/main/java/minesweeper/structures/ConstraintSet.java
  src/main/java/minesweeper/structures/SquareMap.java
  src/test/java/minesweeper/structures/ConstraintSetTest.java
  src/test/java/minesweeper/structures/SquareMapTest.java
Due: fullCoverage

Set up performance testing
  src/main/java/minesweeper/TestApp.java
  src/main/java/minesweeper/bot/MinesweeperConstraint.java
  src/main/java/minesweeper/bot/MyBot.java
  src/test/java/minesweeper/bot/MinesweeperConstraintTest.java
Due: fullCoverage, helperBot

Update Testing-Document.md
  documentation/Testing-Document.md
Due: none

Improve performance testing
  build.gradle
  src/main/java/minesweeper/TestApp.java
  src/main/java/minesweeper/bot/BotExecutor.java
  src/test/java/minesweeper/bot/CSPTest.java
Due: fullCoverage, helperBot

Update class/package diagram
  documentation/images/class-package-diagram.png
Due: none

Update Implementation-Document.md
  documentation/Implementation-Document.md
Due: none

Make algorithm summarize as it goes to save heap space
  build.gradle
  src/main/java/minesweeper/TestApp.java
  src/main/java/minesweeper/bot/CSP.java
  src/test/java/minesweeper/bot/CSPTest.java
Due: fullCoverage, helperBot

Add comparison figure and explanation to testing document
  documentation/Testing-Document.md
  documentation/images/comparison-figure.png
  src/main/java/minesweeper/bot/CSP.java
Due: fullCoverage, helperBot

Add table to testing document
  documentation/Testing-Document.md
Due: none

Add a table to testing document
  documentation/Testing-Document.md
  documentation/images/mybot-table.png
Due: none

Create user-guide.md
  documentation/user-guide.md
Due: none

Rename user-guide.md to User-Guide.md
  documentation/User-Guide.md
Due: none

Add correctness testing
  src/main/java/minesweeper/TestApp.java
  src/main/java/minesweeper/bot/MyBot.java
  src/test/java/minesweeper/bot/MyBotTest.java
Due: fullCoverage, helperBot

Path conditions:
  fullCoverage: any of: src/main/java/minesweeper/
  helperBot: any of: src/main/java/minesweeper/bot/
